<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Bayer_QR_Coder |About Product</title>
</head>
<style>

  /* CSS Style sheet has conneted as internal method */
    .con{
        color: black;
    }
    .content{
      background-color: #00BDFF;
      }
</style>
<body>
    <div class="stamp">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="https://www.cropscience.bayer.com">
            <img src="\static\bayer.png" width="80" height="80" class="stamp_bayer" alt="null">
            Bayer Crop Science
          </a>
        </nav>
        
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">QR Code Generator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="Under_pro.html"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
                      <div class="dropdown-divider"></div>
                    </div>
                  </li>
                  <li class="nav-item">
                  </li>
                </ul>

                
                  <div class="con">
                    <!-- <img src="\static\u3.gif" alt="" height="65px" width="200px" > -->
                </div>   
                </div>
              </nav>
              <div class="line">
                <hr color="black"><hr color="black">
              </div>
     <div class="content">
         <ul type="circle" >
            <h1>About Product QR Code</h1>
            <h4>QR code present on the product gives the info regarding the product usage, dosage, geography, crop protection products.
                It is Dynamic; hence it is convenient for the company to change the information inside it as per requirements like pricing, product details, description, etc. It has a flexible data model to support different data inputs and maintenance.
      
        </h4>
        <ul>
            <li><b><h2>Language selection:</h2></b> <h5>Customers can select the language in which they are comfortable. This helps them understand things more effectively.
            </h5></li>
            <li> <h3><b>Validation of originality:</h3></b> <h5>QR will give details about legal things and documents.</h5>
            </li>
            <li> <h3><b>Feedback, Queries, Complaints, FAQS, etc. </b></h3>
                <li><h5>Through site and calling bot also we are providing feedback and complaint options to communicate with farmers and to know their requirements.
                </h5></li></li>
                <li><h5>Through website and contact options, we can provide information to our farmers as per location, temperature, and soil details.
                </h5></li>
                
        </ul>
        <p><h2>Note-</h2> <h5>Since we need to host a website to feed info in QR code…So for now we are using company’s product related website which already serves the facilities language selection, customer support services etc.</h5></p>
</ul>
       <!-- <p><b>Note-</b> <h5>Since we need to host a website to feed info in QR code…So for now we are using company’s product related website which already serves the facilities language selection, customer support services etc.</h5></p> -->
     </div>
     <div class="line2">
      <hr color="black"><hr color="black">
     </div>
</body>
</html>