<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Bayer_QR_Coder |About Invoice</title>
</head>
<style>
           /* CSS Style sheet has conneted as internal method */
    .con{
        color: black;
    }
    .content{
      background-color: #00BDFF;
      }
</style>
<body>
    <div class="stamp">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="https://www.cropscience.bayer.com">
            <img src="\static\bayer.png" width="80" height="80" class="stamp_bayer" alt="null">
            Bayer Crop Science
          </a>
        </nav>
        
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">QR Code Generator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="Under_pro.html"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
                      <div class="dropdown-divider"></div>
                    </div>
                  </li>
                  <li class="nav-item">
                  </li>
                </ul>

                
                  <div class="con">
                    <!-- <img src="\static\u3.gif" alt="" height="65px" width="200px" > -->
                </div>   
                </div>
              </nav>
              <div class="line">
                <hr color="black"><hr color="black">
              </div>
     <div class="content">
         <ul type="circle" >
            <h1>About Invoice QR Code</h1>
            <h5>
              <ul>
                <li>
                  QR code that gives all the info regarding the product's location, which will be exhausted after the delivery.
                </li>
                <li>It will also provide a unique tracking ID which will be exhausted after 1-2 weeks once product is shipped to its destination.
                </li>
                <li>For those who are unable to scan the, using the messaging bot (which is linked with our database and using tracking ID to provide info of ordered product), they can track their order.
                </li>
              </ul>
                
                
      
        </h5>
        <!-- <ul>
            <li><b>Language selection:</b> Customers can select the language in which they are comfortable. This helps them understand things more effectively.
            </li>
            <li> <b>Validation of originality:</b> QR will give details about legal things and documents.
            </li>
            <li> <b>Feedback, Queries, Complaints, FAQS, etc. </b>
                Through site and calling bot also we are providing feedback and complaint options to communicate with farmers and to know their requirements.
                </li>
                <li>Through website and contact options, we can provide information to our farmers as per location, temperature, and soil details.
                </li>
        </ul>


             
         </ul> -->
     </div>
     <div class="line2">
      <hr color="black"><hr color="black">
     </div>
</body>
</html>