<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Bayer_QR_Coder |Contact Us</title>
</head>
<style>
    .con{
        color: black;
    }
    .content{
      background-color: rgb(144, 179, 179);
      }
</style>
<body>
    <div class="stamp">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="https://www.cropscience.bayer.com">
            <img src="\static\bayer.png" width="80" height="80" class="stamp_bayer" alt="null">
            Bayer Crop Science
          </a>
        </nav>
        
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">QR Code Generator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="Under_pro.html"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
                      <div class="dropdown-divider"></div>
                    </div>
                  </li>
                  <li class="nav-item">
                  </li>
                </ul>

                
                  <div class="con">
                    <img src="\static\u3.gif" alt="" height="65px" width="200px" >
                </div>   
                </div>
              </nav>
              <div class="line">
                <hr color="black"><hr color="black">
              </div>
     <div class="content">
         <ul type="circle" >
            <li type="disc"><h2 style="font-style: italic;">Anupam</h2></li>
            <h4>Contact:8677933930</h4> 
            <h4>Email ID:anupam.rai.mec20@itbhu.ac.in</h4> 
            <li type="disc"><h2 style="font-style: italic;">Sneha</h2></li>
            <h4>Contact:9909329777</h4> 
            <h4>Email ID:jhasneha.nalinikant.mec20@itbhu.ac.in</h4> 
            <li type="disc"><h2 style="font-style: italic;">Kusuma</h2></li>
            <h4>Contact:9640832040</h4> 
            <h4>Email ID:dadi.kusumakumari.civ20@itbhu.ac.in</h4> 
            <li type="disc"><h2 style="font-style: italic;">Gajanan</h2></li>
            <h4>Contact:9960364409</h4> 
            <h4>Email ID:gajanan.govindraoi.mst19@itbhu.ac.in</h4> 


             
         </ul>
     </div>
     <div class="line2">
      <hr color="black"><hr color="black">
     </div>
</body>
</html>