<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bayer_QR_Coder|Search</title>
    <style>
        .fea{
          margin-left: 10%;
            margin-top: 1%;
            height: 200px;
            width: 200px;
        }
         .home_bayer{
        width: 0px;
        height: 0px;
        padding: 25px 20px 50px 20px;
        
      }
      .line{
          margin-top: 25%;
          font-style: italic;
      }
    </style>
</head>
<body>
    <div class="stamp">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="https://www.cropscience.bayer.com">
            <img src="\static\bayer.png" width="80" height="80" class="stamp_bayer" alt="null">
            Bayer Crop Science
          </a>
        </nav>
        
            </div>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Dynamic QR Code Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>
          <form action="search_con.html" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!-- HOME_BAYER LIMITED Image -->
      <div class="home_bayer">
        <img src="\static\un2.gif" alt="" width="500" height="400">
      </div>
      <div class="line"><hr color="black"><hr color="black">
        <h1>What will we be serving...</h1>
        <!-- <img src="\static\under_con.jpg" alt=""> -->
    </div>
    <div class="fea"><img src="\static\Edit.gif" alt="" height="700px" width="1200px" >
    </div>
</body>
</html>